<!DOCTYPE html>
<html>

<head>
	<title>Tambah Pegawai</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div th:insert="~{header :: header}"></div>
	<h2>Tambah Pegawai</h2>
	<form th:action="@{pegawai/tambah}" th:object="${pegawai}" method="POST">
		Nama:
		<input type="text" name="nama" />
		<br>
		Tempat Lahir:
		<input type="text" name="tempatLahir" />
		<br>
		Tanggal Lahir:
		<input type="date" name="tanggalLahir" />
		<br>
		Tahun Masuk:
		<input type="year" name="tahunMasuk" />
		<br>
		Provinsi:
		<input type="text" name="provinsi" />
		<br>
		Nama Instansi:
		<input type="text" name="instansi" />
		<br>
		Jabatan:
		<input type="text" name="jabatan" />
		<br>
	</form> 
	<br>	
</body>

</html>