<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<title>Sistem Infromasi Kepegawaian - SIPEG</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	
	<style>
	.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
	}	
	</style>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<h5>Lihat Data Pegawai Berdasarkan NIP</h5>
	<form th:action="@{/pegawai}" method="GET" class="form-inline active-cyan-3 active-cyan-4">
		Masukan Nomor Induk Pegawai:
		<br>
	    <i class="fa fa-search" aria-hidden="true"></i>
	    <input class="form-control form-control-sm ml-3 w-75" type="text" name="nip" placeholder="Search" aria-label="Search">
		<button type="submit">Lihat</button>
	</form>
	
	<h5>Lihat Detail Jabatan</h5>
	<form th:action="@{/jabatan/view}" method="GET">
		<div class="form-control">
		<label>Pilih Jabatan:</label>
		<select class="form-control" name = "idJabatan">
			<option th:each="jabatan: ${listJabatan}"
	   				th:value="${jabatan.id}" 
	   				th:text="${jabatan.nama}">
 			</option>
		</select>
		</div> 
		<button type="submit">Lihat</button>
	</form>
	
	<h5>Lihat Pegawai Termuda dan Tertua</h5>
	<form th:action="@{/pegawai/termuda-tertua}" method="GET">
		<label>Pilih Intansi:</label>
		<select class="form-control" name="idInstansi">
			<option th:each="instansi: ${listInstansi}"
					th:value="${instansi.id}"
					th:text="${instansi.nama} + ' ' + ${instansi.provinsi.nama}">
			</option>
		</select>
		<button type="submit">Lihat</button>
	</form>
	
</body>
</html>