<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Ubah Jabatan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h2>Ubah Jabatan</h2>
		
		<form th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
			<div class="form-group">
				<input type="hidden" name="id" th:value="${jabatan.id}"/>
			</div>
			<div class="form-group">
				<label>Nama:</label>
				<input class="form-control" type="text" name="nama" th:value="${jabatan.nama}"/>
			</div>
			
			<div class="form-group">
				<label>Deskripsi:</label>
				<input class="form-control" type="text" name="deskripsi" th:value="${jabatan.deskripsi}"/>
			</div>
			
			<div class="form-group">
				<label>Gaji Pokok:</label>
				<input class="form-control" type="number" name="gajiPokok"  th:value="${jabatan.gajiPokok}"/>
			</div>
			
			<button type="submit">Simpan</button>
		</form>
	</body>
</html>