<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Detail Pegawai</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<style>
			td{
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
			}
		</style>
	</head>

	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<br>
		<h3 th:text="'Lihat Data Pegawai ' + ${pegawai.nip}"></h3>
		<table>
			<tr>
				<td>NIP</td>
				<td th:text="${pegawai.nip}"></td>
			</tr>
			<tr>
				<td>Nama</td>
				<td th:text="${pegawai.nama}"></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td th:text="${pegawai.tempatLahir}"></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td th:text="${pegawai.tanggalLahir}"></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td th:text="${pegawai.tahunMasuk}"></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td th:text="${pegawai.instansi.nama}"></td>
			</tr>
			<tr>
				<td>Jabatan</td>	
				<td>
				<th:block th:each="jabatan : ${jabatanPegawai}">
					<p th:text="${jabatan.nama}"></p>		
				</td>
			</tr>
			<tr>
				<td>Gaji</td>
				<td th:text="'Rp ' + ${gaji}"></td>
			</tr>
			
		</table>
			
		<form th:action="@{/pegawai/ubah}" method="GET" class="form-inline active-cyan-3 active-cyan-4">
			<input type="hidden" name="nip" th:value="${pegawai.nip}" />		
			<button type="submit">Ubah</button>
		</form>
		
	</body>

</html>